<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZooPhy</title>
    <meta name="author" content="ASU Biodesign Center for Environmental Security's ZooPhy Lab">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/app.css">    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript" src="javascripts/about.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header"></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" class="nopadding"><img id="main-logo" class="img-rounded img-responsive" src="images/zoophy.png"/></a></li>
            <li><a href="/" class="nopadding"><h5 class="logo-font"><b> &nbsp; ZooPhy</b> <br> &nbsp; Reconstructing Virus Spread using Phylogeography</h5></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body class="aboutpage-body">
    <div class="col-sm-2 aboutpage-sidebar">
      <a id="abouta" href="#about" class="list-group-item borderless"><b>About</b></a>
      <hr class="aboutpage-sidebar-divider"/>
      <a href="#features" class="list-group-item borderless"><b>Functionality</b></a>
      <hr class="aboutpage-sidebar-divider"/>
      <a href="#database" class="list-group-item borderless"><b>Database</b></a>
      <hr class="aboutpage-sidebar-divider"/>
      <a href="#citation" class="list-group-item borderless"><b>Citation</b></a>
      <hr class="aboutpage-sidebar-divider"/>
      <a href="#us" class="list-group-item borderless"><b>About Us</b></a> 
    </div>

    <div class="row" style="margin: 0px">
        <div class="col-sm-2" style=" padding: 10px;">
          <!-- margin for sidebar -->
        </div>

        <div class="col-sm-10">
          <div ng-controller="aboutController">
            <div class="Container aboutpage-container" >
              <h2 class="text-muted aboutpage-header" id="about" onclick="newFun()">- About -</h2>
              <div class="row aboutpage-row">
                <h3 style="margin-top:0px">What is ZooPhy?</h3>
                <h4 class="aboutpage-answer">ZooPhy is a public health informatics application for phylogeography of zoonotic RNA viruses.<h4>
              </div>
              <div class="row aboutpage-row">
                <h3>Who is it intended for?</h3>
                <h4 class="aboutpage-answer">The intended users of ZooPhy are health agencies, agriculture agencies, wildlife agencies, and any other researcher interested in surveillance of zoonotic diseases in either animals or humans. <h4>
              </div>
              <div class="row aboutpage-row">
                <h3>I am not any of those. Can I still use ZooPhy?</h3>
                <h4 class="aboutpage-answer">Yes, ZooPhy is freely available to the public with the hope that it will help enhance population surveillance of human and animal zoonotic diseases and inform public health decision making.<h4>
              </div>
            </div>
          
            <div class="Container aboutpage-container" >
              <h2 class="text-muted aboutpage-header" id="features">- Functionality -</h2>
              <div class="row aboutpage-row">
                <h3 style="margin-top:0px">What can I use ZooPhy for?</h3>
                <h4 class="aboutpage-answer">
                  Phylogeography of viruses, such as zoonotic viruses (animal-human transmission) can support public health and disease surveillance. 
                  <br>For example, it can help epidemiologists answer questions such as 
                  <i>Given a particular geographical area and timeframe:
                  <ul>
                    <li>For a particular virus, what was the migration path?</li>
                    <li>What factors such as climate, population, vaccination, etc. support or protect against virus spread?</li>
                  </ul>
                  </i>
                <h4>
              </div>
              <div class="row aboutpage-row">
                <h3>Can I use my own data?</h3>
                <h4 class="aboutpage-answer">
                  Yes. You may upload your own sequences as a .FASTA file.
                  <br>The .FASTA file needs to be a new line delimited .txt file. The current search limit is 2500 sequences.
                  <br>
                  <br>Please structure your definition lines as such:
                  <h5 class="aboutpage-answer">
                  <code >
                    >[ID]|[GeonamesID or LocationName]|[Date]<br>
                  </code>
                    Where, ID = Some unique ID<br>
                    GeonamesID = the unique geonames.org ID of your location or location name<br>
                    Date = the decimal day (2011.83) or year of your sample (2011) or date in format DD-mmm-YYYY (08-Oct-2011)<br><br>
                    <i>   
                      For example:<br>
                      <code>
                        >1|5308655|2006.23<br>
                        ATGGAGAAAATAGTGC...<br>
                        >2|Phoenix, Arizona|2008.01<br>
                        ATGGAGAAAATAGTGC..."
                      </code>
                    </i>
                  </h5>
                </h4>
              </div>
              <div class="row aboutpage-row">
                <h3>What are its functions and features?</h3>
                <div class="aboutpage-answer">
                  <h4>ZooPhy can do the following functions:</h4>
                  <ul>
                    <li><h4>Retrieval of DNA sequences and metadata on zoonotic RNA viruses<h4></li>
                    <li><h4>Multiple sequence alignment (via <a href="https://mafft.cbrc.jp/alignment/software/">MAFFT</a>)<h4></li>
                    <li><h4>Bayesian phylogeographic estimation (via <a href="http://beast.community/">BEAST</a>)<h4></li>
                    <li><h4>Visualization of virus migration (via <a href="https://rega.kuleuven.be/cev/ecv/software/SpreaD3">SpreaD3</a>, <a href="https://github.com/ZooPhy/zoophy-viz">ZooPhy-Viz</a>)<h4></li>
                  </ul>
                </div>
              </div>
              <div class="row aboutpage-row">
                <h3>Result video for spread of Ebola virus in Liberia from 2013 to 2015.</h3>
                <div class="col col-sm-8 col-md-offset-2">
                    <video width="720" height="340" controls style="background-color: black;">
                        <source src="videos/spread.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                </div>
              </div>
            </div>

            <div class="Container aboutpage-container" >
              <h2 class="text-muted aboutpage-header" id="database">- Database -</h2>
              <div class="row aboutpage-row">
                <h4 style="margin-left: 10px;">Number of <span style="font-size: x-large">Records</span> in the ZooPhy Database</h4>
                <div class="aboutpage-answer" style="padding: 20px">
                  <div id="recordChart" style="min-height: 300px; margin-right: 20px;"></div>
                </div>
              </div>
              <div class="row aboutpage-row">
                <div class="col-sm-6">
                  <h4 style="margin: 20px;">Number of normalized <span style="font-size: x-large">Locations</span> in the ZooPhy Database</h4>
                  <div id="locationChart" style="min-height: 300px; margin-right: 20px"></div>
                </div>
                <div class="col-sm-6">
                  <h4 style="margin: 20px;">Number of normalized <span style="font-size: x-large">Hosts</span> in the ZooPhy Database</h4>
                  <div id="hostChart" style="min-height: 300px; margin-right: 20px"></div>
                </div>
              </div>
            </div>

            <div class="Container aboutpage-container">
              <h2 class="text-muted aboutpage-header" id="citation">- Citation -</h2>
              <div class="row aboutpage-row">
                <h3 style="margin-top:0px">How can I cite ZooPhy?</h3>
                <div class="aboutpage-answer">
                  <h4>Original Paper:</h4>
                    <i><ul>
                      <li>Scotch M, Mei C, Brandt C, Sarkar IN, Cheung K. At the intersection of public-health informatics and bioinformatics: using advanced Web technologies for phylogeography. Epidemiology. 2010 Nov;21(6):764-8.</li>
                    </ul></i>
                  <h4>Papers using ZooPhy:</h4>
                  <i><ul>
                    <li>Tahsin T, Weissenbacher D, Jones-Shargani D, et al. Named entity linking of geospatial and host metadata in GenBank for advancing biomedical research. Database (Oxford). 2017;2017:bax093. Published 2017 Dec 28. doi:10.1093/database/bax093</li>
                    <li>Scotch M, Lam TT, Pabilonia KL, Anderson T, Baroch J, Kohler D, DeLiberto TJ. Diffusion of influenza viruses among migratory birds with a focus on the Southwest United States. Infect Genet Evol, 2014. 26: p. 185-93.</li>
                    <li>Scotch M, Mei C. Phylogeography of swine influenza H3N2 in the United States: translational public health for zoonotic disease surveillance. Infect Genet Evol. 2013 Jan;13:224-9.</li>
                    <li>Scotch M, Mei C, Makonnen YJ, Pinto J, Ali A, Vegso S, Kane M, Sarkar IN, Rabinowitz P. Phylogeography of influenza A H5N1 clade 2.2.1.1 in Egypt. BMC Genomics. 2013 Dec 10;14:871.</li>
                  </ul></i>
                </div>
              </div>
            </div>

            <div class="Container aboutpage-container">
              <h2 class="text-muted aboutpage-header" id="us">- About Us -</h2>
              <div class="row" style="margin-top: 20px">
                  <div class="col col-sm-2 col-md-offset-4 text-center">
                    <a href="https://github.com/ZooPhy" target="_blank" style="color:inherit;"><i class="fab fa-github fa-3x" style="padding: 5px"></i></a>
                    <p>GitHub</p>
                  </div>
                  <div class="col col-sm-2 text-center">
                    <a href="mailto:zoophylab@gmail.com?Subject=Hey%20ZooPhy" target="_top" style="color:inherit;">
                      <i class="fab fa-google fa-3x" style="padding: 5px"></i>
                    </a>
                    <p>Mail</p>
                  </div>
              </div>
            </div>

          </div>
        </div>
    </div>
    <script>
      //css smooth scroll trick: https://css-tricks.com/snippets/jquery/smooth-scrolling/
    $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
        && 
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
          });
        }
      }
    });
    </script>
  </body>
</html>
