<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZooPhy</title>
    <meta name="author" content="ASU Biodesign Center for Environmental Security's ZooPhy Lab">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header"></div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><img id="main-logo" class="img-rounded img-responsive" src="images/zoophy.png"/></li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li><h3>About ZooPhy</h3></li>
              </ul>
          </div>
      </div>
    </nav>
  </head>
  <body>
    <div ng-controller="aboutController" id="about" class="container">
      <div class="row">
        <h3>What is ZooPhy?</h3>
        <h4>ZooPhy is a public health informatics application for phylogeography of zoonotic RNA viruses.<h4>
      </div>
      <div class="row">
        <h3>Who is it intended for?</h3>
        <h4>The intended users of ZooPhy are health agencies, agriculture agencies, wildlife agencies, and any other researcher interested in surveillance of zoonotic diseases in either animals or humans. <h4>
      </div>
      <div class="row">
          <h3>I am not any of those. Can I still use ZooPhy?</h3>
          <h4>Yes, ZooPhy is freely available to the public with the hope that it will help enhance population surveillance of human and animal zoonotic diseases and inform public health decision making.<h4>
      </div>
      <div class="row">
        <h3>What can I use ZooPhy for?</h3>
        <h4>
          Phylogeography of viruses, such as zoonotic viruses (animal-human transmission) can support public health and disease surveillance. 
          <br>For example, it can help epidemiologists answer questions such as 
          <i>Given a particular geographical area and timeframe:
          <ul>
            <li>For a particular virus, what was the migration path?</li>
            <li>What factors such as climate, population, vaccination, etc. support or protect against virus spread?</li>
          </ul>
          </i>
        <h4>
      </div>
      <div class="row">
        <h3>What are its functions and features?</h3>
        <h4>ZooPhy can do the following functions:<h4>
        <h4>Retrieval of DNA sequences and metadata on zoonotic RNA viruses<h4>
        <h4>Multiple sequence alignment (via MAFFT)<h4>
        <h4>Bayesian phylogeographic estimation (via BEAST)<h4>
        <h4>Visualization of virus migration (via SpreaD3)<h4>
      </div>
      <div class="row">
        <h3>How can I cite ZooPhy?</h3>
        <h4>Relevant Publications</h4>
        <h5>Original Paper:</h5>
          <i><ul>
            <li>Scotch M, Mei C, Brandt C, Sarkar IN, Cheung K. At the intersection of public-health informatics and bioinformatics: using advanced Web technologies for phylogeography. Epidemiology. 2010 Nov;21(6):764-8.</li>
          </ul></i>
        <h5>Papers using ZooPhy</h5>
        <i><ul>
        <li>Scotch M, Mei C. Phylogeography of swine influenza H3N2 in the United States: translational public health for zoonotic disease surveillance. Infect Genet Evol. 2013 Jan;13:224-9.</li>
        <li>Scotch M, Mei C, Makonnen YJ, Pinto J, Ali A, Vegso S, Kane M, Sarkar IN, Rabinowitz P. Phylogeography of influenza A H5N1 clade 2.2.1.1 in Egypt. BMC Genomics. 2013 Dec 10;14:871. doi: 10.1186/1471-2164-14-871.</li>
        </ul></i>
        
      </div>
      <div class="row">
        <h3></h3>
        <h4><h4>
      </div>
      <div class="row">
        <h3></h3>
        <h4><h4>
      </div>
    </div>
  </body>
</html>
