<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>ZooPhy</title>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <body ng-app="ZooPhy" ng-controller="homeController" ng-cloak>
    <div class="container">
      <div class="row text-center">
        <a href="http://zoophy.wikispaces.asu.edu/" target="_new">
          <div class="col col-xs-6 col-xs-offset-3 col-md-offset-2">
            <img id="main-logo" class="img-rounded img-responsive" src="images/zoophy.png"/>
            <div class="title">
              <h2>ZooPhy</h2>
              <h6 class="hidden-xs">Reconstructing Virus Spread using Phylogeography</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <div class="panel panel-info">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':tab === 'search'}"><a href="" ng-click="switchTabs('search');">Search</a></li>
            <li role="presentation" ng-class="{'active':tab === 'results'}"><a href="" ng-click="switchTabs('results');">Results</a></li>
            <li role="presentation" ng-class="{'active':tab === 'run'}"><a href="" ng-click="switchTabs('run');">Run</a></li>
          </ul>
          <div class="panel-body">
            <%- include('search'); %>
            <%- include('results'); %>
            <%- include('run'); %>
          </div>
        </div>
      </div>
    </div>
    <h6 class="text-center">Please send any questions or concerns to <a href="mailto:zoophylab@gmail.com">zoophylab@gmail.com</a></h6>
  </body>
</html>

<!--
Copyright 2017 ASU Biodesign Center for Environmental Security's ZooPhy Lab

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
