<nav class="navbar navbar-default navbar-fixed-top main-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" class="nopadding"><img id="main-logo" class="img-rounded img-responsive" src="images/zoophy.png"/></a></li>
                <li><a href="#" class="nopadding"><h5 class="logo-font"> <b>&nbsp; ZooPhy </b><br> &nbsp; Reconstructing Virus Spread using Phylogeography</h5></a></li>
            </ul>
          <!-- <ul class="nav navbar-nav navbar-center">
            <li><a href="#">Center</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-default logo-font" id="navbar-button" href="/aboutzoophy" target="_new">About Zoophy</a></li>
          </ul>
        </div>
    </div>
</nav>