<div ng-controller="resultsController" id="results" class="container" ng-show="tab === 'results'">
  <div id="results-table" class="col-sm-9">
    <h6 class="text-center">Search Returned {{results.length}} results</h6>
    <div class="row">
      <div class="col-sm-8">
        <h6 ng-hide="generating">Download All Search Results as <button class="btn btn-xs btn-default" ng-click="setupDownload('csv');">CSV</button> or <button ng-click="setupDownload('fasta');" class="btn btn-xs btn-default">FASTA</button>
          <a class="results-link" ng-show="downloadLink" ng-href="{{downloadLink}}" download="ZooPhyData.{{downloadFormat}}" target="_self"><i class="fa fa-download" aria-hidden="true"></i> Download File</a><span class="text-danger results-link" ng-show="downloadError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{downloadError}}</span></h6>
        <h6 ng-show="generating"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Generating Download... </h6>
      </div>
      <div class="col-sm-4">
        <h6 class="text-right"><button class="btn btn-sm btn-default">Perform Random Downsampling</button></h6>
      </div>
    </div>
    <table st-table="displayedResults" st-safe-src="results" class="table table-striped">
    	<thead>
      	<tr>
          <th class="col-sm-1 text-center">Select All<input type="checkbox" ng-model="groupIsSelected" ng-click="toggleAll(); $event.stopPropagation();"></th>
        	<th class="col-sm-1" st-sort="accession"><i class="fa fa-sort" aria-hidden="true"></i> Accession</th>
        	<th class="col-sm-1" st-sort="genes"><i class="fa fa-sort" aria-hidden="true"></i> Genes</th>
        	<th class="col-sm-2 hidden-xs" st-sort="virus"><i class="fa fa-sort" aria-hidden="true"></i> Virus</th>
        	<th class="col-sm-2" st-sort="luceneDate"><i class="fa fa-sort" aria-hidden="true"></i> Date</th>
        	<th class="col-sm-2 hidden-xs" st-sort="host"><i class="fa fa-sort" aria-hidden="true"></i> Host</th>
          <th class="col-sm-2" st-sort="country"><i class="fa fa-sort" aria-hidden="true"></i> Country</th>
          <th class="col-sm-1 hidden-xs" st-sort="segmentLength"><i class="fa fa-sort" aria-hidden="true"></i> Length</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr st-select-row="record" st-select-mode="single" ng-repeat="record in displayedResults" ng-click="loadDetails(record.accession);">
          <td class="col-sm-1 text-center" ng-click="toggleRecord(record); $event.stopPropagation();"><input type="checkbox" ng-checked="record.includeInJob" ng-click="toggleRecord(record); $event.stopPropagation();"></td>
          <td class="col-sm-1">{{record.accession}}</td>
      		<td class="col-sm-1">{{record.genes}}</td>
      		<td class="col-sm-2 hidden-xs">{{record.virus}}</td>
      		<td class="col-sm-2">{{record.date}}</td>
      		<td class="col-sm-2 hidden-xs">{{record.host}}</td>
          <td class="col-sm-2">{{record.country}}</td>
          <td class="col-sm-1 hidden-xs">{{record.segmentLength}}</td>
      	</tr>
    	</tbody>
      <tfoot>
			<tr>
        <td colspan="2">
          <div class="text-center">
            <label for="recordsPerPage">Records Per Page</label>
            <select id="recordsPerPage" class="form-control" ng-options="num as num for num in pageNums" ng-model="recordsPerPage">
              <!-- handled by Angular -->
            </select>
          </div>
        </td>
				<td colspan="4" class="text-center">
					<div st-pagination="" st-items-by-page="recordsPerPage" st-displayed-pages="10"></div>
				</td>
        <td colspan="2">
          <div class="pushed-down">
            <button class="btn btn-info pull-right" ng-click="goToRun();">Configure ZooPhy Job</button>
          </div>
        </td>
			</tr>
		</tfoot>
    </table>
  </div>
  <div id="detail-panel" class="col-sm-3 hidden-xs">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Record Details: {{selectedRecord.accession}}</h3>
      </div>
      <div id="detailed-view" class="panel-body" ng-show="showDetails">
        <p><b>Date:</b> {{selectedRecord.date}}</p>
        <p><b>PubMed ID:</b> {{selectedRecord.pubmedID}}</p>
        <p><b>Virus:</b> {{selectedRecord.virus}}</p>
        <p><b>Taxon:</b> {{selectedRecord.taxon}}</p>
        <p><b>Strain:</b> {{selectedRecord.strain}}</p>
        <p><b>Isolate:</b> {{selectedRecord.isolate}}</p>
        <p><b>Host:</b> {{selectedRecord.host}}</p>
        <p><b>Location:</b> {{selectedRecord.location}}</p>
        <p><b>Genes:</b> {{selectedRecord.genes}}</p>
        <p><b>Definition:</b> {{selectedRecord.definition}}</p>
        <p class="text-center"><a ng-href="https://www.ncbi.nlm.nih.gov/nuccore/{{selectedRecord.accession}}" target="_new"><b>View Original Record</b></a></p>
      </div>
    </div>
  </div>
</div>
