<div ng-controller="resultsController" id="results" class="container" ng-show="tab === 'results'">
  <div id="results-table" class="col-sm-9">
    <div class="row">
      <div id="warning-alert" class="alert alert-warning col-md-10 col-md-offset-1 text-center" ng-show="warning">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{warning}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"><h6 class="text-left">{{numSelected}}/{{results.length}} <b>{{searchedVirusName}}</b> records selected</h6></div>
      <h6 class="text-right"><i class="fa fa-info-circle" aria-hidden="true"></i> ZooPhy Jobs must contain 5 to 1000 Records</h6>
    </div>

    <div class="row">
      <div class="col-sm-4"><h6 class="text-left">{{completeRecordsCount}} complete records selected</h6></div>
      <h6 class="text-right">
        <span class="help-info" data-toggle="tooltip" data-placement="top" 
        title="This is an approximate count of number of distinct locations among the selected records. Actual count might vary once the job is run. Select at least 2 and up to 25 distinct locations for the job to run successfully."> 
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>{{distinctLocationsCount}} distinct locations selected</h6>
    </div>
    <div class="row" id="buttons-layer">
        <div class="col-sm-1">
          <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#exportModel" style="margin:0px 10px 0px 0px;">Export
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#fastaModel">Import FASTA 
        </div>
        <div class="col-sm-8" style="padding: 8px; text-align: center;">
            <b ng-show="generating"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Generating Download... </b>
            <b><a class="results-link" ng-show="downloadLink" ng-href="{{downloadLink}}" download="ZooPhyData.{{downloadFormat}}" target="_self"><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
            <span class="text-danger results-link" ng-show="downloadError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{downloadError}}</span></b>
        </div>
        <div class="col-sm-2" >
            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#sampleSelectionModel">Random Sample</button>
        </div>
    </div>
    <table class="table table-striped table-hover table-condensed table-responsive">
    	<thead>
      	<tr>
          <th class="col-sm-1 text-center">ALL <input type="checkbox" ng-model="groupIsSelected" ng-click="toggleAll(); $event.stopPropagation();"></th>
        	<th class="col-sm-1" ng-click="updateSort('accession');"><i class="fa fa-sort" aria-hidden="true"></i>ID</th>
        	<th class="col-sm-1" ng-click="updateSort('genes');"><i class="fa fa-sort" aria-hidden="true"></i> Genes</th>
        	<th class="col-sm-2" ng-click="updateSort('luceneDate');"><i class="fa fa-sort" aria-hidden="true"></i> Date</th>
          <th class="col-sm-2 hidden-xs" ng-click="updateSort('host');"><i class="fa fa-sort" aria-hidden="true"></i> Host</th>
          <th class="col-sm-2" ng-click="updateSort('state');"><i class="fa fa-sort" aria-hidden="true"></i> State</th>
          <th class="col-sm-2" ng-click="updateSort('country');"><i class="fa fa-sort" aria-hidden="true"></i> Country</th>
          <th class="col-sm-1 hidden-xs" ng-click="updateSort('segmentLength');"><i class="fa fa-sort" aria-hidden="true"></i> Length</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-class="(selectedRecord.accession === record.accession) ? 'selected' : ''" dir-paginate="record in results | orderBy:sortField:sortReverse | itemsPerPage:recordsPerPage" ng-click="LoadDetails(record);">
          <td class="col-sm-1 text-center" ng-click="toggleRecord(record); $event.stopPropagation();"><input type="checkbox" ng-checked="record.includeInJob"></td>
          <td class="col-sm-1"><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{record.accession}}" target="_blank">{{record.accession}}</a></td>
      		<td class="col-sm-1">{{record.genes}}</td>
      		<td class="col-sm-2">{{record.date}}</td>
          <td class="col-sm-2 hidden-xs">{{record.host}}</td>
          <td class="col-sm-2">{{record.state}}</td>
          <td class="col-sm-2">{{record.country}}</td>
          <td class="col-sm-1 hidden-xs">{{record.segmentLength}}</td>
      	</tr>
    	</tbody>
      <tfoot>
			<tr>
        <td colspan="2">
          <div class="text-center">
            <label for="recordsPerPage">Records Per Page</label>
            <select id="recordsPerPage" class="form-control" ng-options="num as num for num in pageNums" ng-model="recordsPerPage">
              <!-- handled by Angular -->
            </select>
          </div>
        </td>
				<td colspan="4" class="text-center">
          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" auto-hide="false"></dir-pagination-controls>
        </td>
        <td colspan="2">
          <div class="pushed-down">
            <input type="button" class="btn btn-info pull-right" ng-click="goToRun();" value="Configure ZooPhy Job" ng-disabled="numSelected < 5 || numSelected > 1000"/>
          </div>
        </td>
			</tr>
		</tfoot>
    </table>
  </div>
  <div id="detail-panel" class="col-sm-3 hidden-xs">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Record Details: {{selectedRecord.accession}}</h3>
      </div>
      <div id="detailed-view" class="panel-body" ng-show="showDetails">
          <table id="detailed-view-table" class="table-condensed detail-panel-padding" border="0">
              <tbody class="borderless detail-panel-padding">
                <tr><td class="detail-panel-padding"><b>Date:</b> {{selectedRecord.date}}</td><td class="detail-panel-padding"><b>PubMed ID:</b> {{selectedRecord.pubmedID}} </td></tr>
                <tr><td class="detail-panel-padding"><b>Taxon:</b> {{selectedRecord.taxon}}</td> <td class="detail-panel-padding"><b>Strain:</b> {{selectedRecord.strain}}</td></tr>
                <tr><td class="detail-panel-padding"><b>Isolate:</b> {{selectedRecord.isolate}} </td><td class="detail-panel-padding"><b>Host:</b> {{selectedRecord.host}}</td></tr>
                <tr><td class="detail-panel-padding"><b>Location:</b> {{selectedRecord.location}} </td><td class="detail-panel-padding"><b>Genes:</b> {{selectedRecord.genes}}</td></tr>
                <tr><td colspan="3" class="detail-panel-padding"><b>Virus:</b> {{selectedRecord.virus}}</td></tr>
                <tr><td colspan="3" class="detail-panel-padding"><b>Definition:</b> {{selectedRecord.definition}}</td></tr>
                <tr><td colspan="3" class="text-center detail-panel-padding"><a ng-href="https://www.ncbi.nlm.nih.gov/nuccore/{{selectedRecord.accession}}" target="_new"><b>View Genbank Record</b></a></td></tr>
              </tbody>
            </table>
      </div>
      <div id="detailed-view" class="panel-body" ng-show="showCustDetails">
        <p><b>Date:</b> {{selectedRecord.date}}</p>
        <p><b>Location:</b> {{selectedRecord.location}}</p>
        <p><b>Country:</b> {{selectedRecord.country}}</p>
        <p><b>Segment Length:</b> {{selectedRecord.segmentLength}}</p>
      </div>
    </div>
  <div class="panel panel-info">
    <div class="panel-heading"><h5 class="panel-title text-center">Record Location</h5></div>
    <div id="geolocmap" class="map geolocmap"><div id="info"></div></div>
    <div id="geolocmaplegend">
      <table id="legend-table" class="table-condensed" border="0">
        <tbody class="borderless">
          <tr>
            <td><input type="checkbox" checked="checked" ng-model="showHeatmap" ng-click="toggleHeatmap();"/><b> Show Heatmap</b></td>
            <td><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color:black"></i><b> Viewing</b></td>
            <td><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color:blue"></i><b> Selected</b></td>
            <td><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            <td><input id="probThreshold" name="probThreshold" type="range" ng-model="probThreshold" min="0" max="100" step="1" value="50" data-toggle="tooltip" data-placement="top" title="Probability Threshold"></input></td>
            <td><span id="probThrVal">50%</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="fastaModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <label ng-click="showFastaHelp();">
          <h4 class="modal-title">FASTA
            <span class="help-info" data-toggle="tooltip" data-placement="top" 
            title="The .FASTA file needs to be a new line delimited .txt file. The current search limit is 2500 sequences.
            Please structure your definition lines as such:
            >[ID]|[GeonamesID or LocationName]|[Time]
            Where ID = Some unique ID
            GeonamesID = the unique geonames.org ID of your location or location name
            Time = the decimal day or year of your sample or date in format DD-mmm-YYYY e.g. 08-Oct-2011
            
            For example:
            >1|5308655|2006.23
            ATGGAGAAAATAGTGC...
            >2|5317058|2008.01
            ATGGAGAAAATAGTGC..."> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
          </h4></label>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row form-group">
                Select a file  
                <label class="btn btn-default btn-file btn-sm">Select<input id="data-upload" type="file" onchange="angular.element(this).scope().uploadFasta(this.files);this.value=null"></input></label>
                <p style="display:inline" class="text-muted">&nbsp;{{fastaFilename}}</p>
                <span class="text-danger results-link" ng-show="fastaError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{fastaError}}</span>
            </div>
            <div class="row" >
                <label class="checkbox-inline"><input type="checkbox" ng-disabled="results.length === 0" ng-model="combineResults"/>
                <p style="display:inline" class="text-muted" ng-show="results.length === 0" >Combine with search results</p>
                <p style="display:inline" ng-show="results.length !== 0">Combine with search results</p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="confirmSendFasta()" ng-disabled="fastaFile === null || fastaFile === undefined">Upload</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmFastaModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
          <div class="container">
                You are about to overwrite your search results!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" ng-click="sendFasta();" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exportModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Download Options</h4>
        </div>
         <div class="modal-body">
          <h5>Select download format</h5>
          <label class="radio-inline">
            <input type="radio" name="downloadFormatCSV" id="csv" ng-model="downloadFormat" value="csv" ng-checked="true"/> CSV
          </label>
          <label class="radio-inline">
            <input type="radio" name="downloadFormatFasta" id="fasta" ng-model="downloadFormat" value="fasta"/>  FASTA 
          </label> <br>
          <h5>Select Columns</h5>
          <table>
            <tbody>
              <tr>
                <td class="col-sm-2 text-center"> 
                  <select id="fromSelectBox" multiple="multiple" size="10" style="width: 200px;">
                    <option value="Genes">Genes</option>
                    <option value="VirusID">Virus ID</option>
                    <option value="Virus">Virus</option>
                    <option value="Human_Date">Date (DD-MMM-YYYY)</option>
                    <option value="Decimal_Date">Date (Decimal)</option>
                    <option value="HostID">Host ID</option>
                    <option value="Host">Host</option>
                    <option value="Country">Country</option>
                    <option value="State">State</option>
                    <option value="GeonameID">Geoname ID</option>
                    <option value="Length">Length</option>
                  </select>
                  <br><br><br>
                </td>
                <td class="col-sm-1 text-center">
                  <input type="button" class="btn btn-info" ng-click='columnAddAll();' value=">>" style="margin:5px 5px 5px 5px;"><br>
                  <input type="button" class="btn btn-info" ng-click="columnAdd();" value=">" style="margin:5px 5px 5px 5px;"><br>
                  <input type="button" class="btn btn-info" ng-click="columnRemove();" value="<" style="margin:5px 5px 5px 5px;"><br>
                  <input type="button" class="btn btn-info" ng-click='columnRemoveAll();' value="<<" style="margin:5px 5px 5px 5px;"><br>
                <br><br>
                </td>
                <td class="col-sm-2 text-center">
                  <select id="toSelectBox" multiple="multiple" size="10" style="width: 200px;">
                  </select>
                  <br>
                  <input type="button" class="btn btn-info" ng-click="columnUp();" value="Up" style="margin:5px 5px 5px 5px;">
                  <input type="button" class="btn btn-info" ng-click="columnDown();" value="Down" style="margin:5px 5px 5px 5px;">
                </td>
              </tr>
            </tbody>
          </table>
          <p style="display:inline" class="text-muted" ng-show="downloadFormat === 'csv'"><font size="2">Note: AccessionID is included automatically</font></p>
          <p style="display:inline" class="text-muted" ng-show="downloadFormat === 'fasta'"><font size="2">Note: AccessionID and RawSequence are included automatically</font></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-disabled="downloadColumnsCount === 0" ng-click="downloadColumn();" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sampleSelectionModel" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select Random Downsample<span class="help-info" data-toggle="tooltip" data-placement="top" 
            title="Select random records for job"> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
          </div>
        </h4>
          <div class="modal-body">
            <div class="container">
              <div class="row form-group">
                <label class="radio-inline">
                  <input type="radio" name="sampleTypeNumber" id="number" ng-model="sampleType" value="number"/> Number
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sampleTypePercent" id="percent" ng-model="sampleType" value="percent" ng-checked="true"/> Percentage
                </label>
              </div>
              <div class="row">
                {{sampleType}} of records
                <input class="form-control sampleBox" type="number" min="0" name="sampleAmount" ng-change="updatePercentOfRecords();" ng-model="sampleAmount"/>
                <p style="display:inline" class="text-muted" ng-show="sampleType === 'percent'" >&nbsp;{{percentOfRecords}} records</p>                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="validateDownSample(); recordStats();" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
</div>
