<div id="results" class="container" ng-hide="searching">
  <div id="results-table" class="col-sm-9">
    <table st-table="displayedResults" st-safe-src="results" class="table table-striped">
    	<thead>
      	<tr>
        	<th class="col-sm-1" st-sort="accession">Accession</th>
        	<th class="col-sm-1" st-sort="genes">Genes</th>
        	<th class="col-sm-2 hidden-xs" st-sort="virus">Virus</th>
        	<th class="col-sm-2" st-sort="date">Date</th>
        	<th class="col-sm-2 hidden-xs" st-sort="host">Host</th>
          <th class="col-sm-2" st-sort="country">Country</th>
          <th class="col-sm-1 hidden-xs" st-sort="segmentLength">Segment Length</th>
          <th class="col-sm-1" st-sort="isSelected">Selected</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="record in displayedResults" ng-click="loadDetails(record.accession);">
      		<td class="col-sm-1">{{record.accession}}</td>
      		<td class="col-sm-1">{{record.genes}}</td>
      		<td class="col-sm-2 hidden-xs">{{record.virus}}</td>
      		<td class="col-sm-2">{{record.date}}</td>
      		<td class="col-sm-2 hidden-xs">{{record.host}}</td>
          <td class="col-sm-2">{{record.country}}</td>
          <td class="col-sm-1 hidden-xs">{{record.segmentLength}}</td>
          <td class="col-sm-1"><input type="checkbox" ng-model="record.isSelected"></td>
      	</tr>
    	</tbody>

    </table>
  </div>
  <div id="detail-panel" class="col-sm-3 hidden-xs">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Record Details: {{selectedRecord.accession}}</h3>
      </div>
      <div class="panel-body" ng-show="showDetails">
        <p>Date: {{selectedRecord.date}}</p>
        <p>PubMed ID: {{selectedRecord.pubmedID}}</p>
        <p>Virus: {{selectedRecord.virus}}</p>
        <p>Taxon: {{selectedRecord.taxon}}</p>
        <p>Strain: {{selectedRecord.strain}}</p>
        <p>Isolate: {{selectedRecord.isolate}}</p>
        <p>Host: {{selectedRecord.host}}</p>
        <p>Location: {{selectedRecord.location}}</p>
        <p>Genes: {{selectedRecord.genes}}</p>
        <p>Definition: {{selectedRecord.definition}}</p>
      </div>
    </div>
  </div>
</div>
