<div id="results" class="container" ng-hide="searching">
  <div id="results-table" class="col-sm-9">
    <table st-table="rowCollection" st-safe-src="records" class="table table-striped">
    	<thead>
      	<tr>
        	<th>Accession</th>
        	<th>Gene</th>
        	<th>Virus</th>
        	<th>Date</th>
        	<th>Host</th>
          <th>Country</th>
          <th>Segment Length</th>
          <th>Selected</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="record in records" ng-click="loadDetails('"{{record.accession}}"');">
      		<td>{{record.accession}}</td>
      		<td>{{record.gene}}</td>
      		<td>{{record.virus}}</td>
      		<td>{{record.date}}</td>
      		<td>{{record.host}}</td>
          <td>{{record.country}}</td>
          <td>{{record.segmentLength}}</td>
          <td>{{record.isSelected}}</td>
      	</tr>
    	</tbody>
    </table>
  </div>
  <div id="detail-panel" class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Record Details: {{selectedRecord.accession}}</h3>
      </div>
      <div class="panel-body" ng-show="showDetails">
        <p>Accession: {{selectedRecord.accession}}</p>
        <p>Gene(s): {{selectedRecord.gene}}</p>
        <p>Virus: {{selectedRecord.virus}}</p>
        <p>Date: {{selectedRecord.date}}</p>
        <p>Host: {{selectedRecord.host}}</p>
        <p>Country: {{selectedRecord.country}}</p>
        <p>Segment Length: {{selectedRecord.segmentLength}}</p>
      </div>
    </div>
  </div>
</div>
