<div ng-controller="runController" id="run-tab" class="container" ng-show="tab === 'run'">
  <div class="row">
    <div id="run-error-alert" class="alert alert-danger col-md-10 col-md-offset-1 text-center" ng-show="runError">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{runError}}
    </div>
  </div>
  <div class="row">
    <div id="run-validating-alert" class="alert alert-info col-md-10 col-md-offset-1 text-center" ng-show="running">
      <i class="fa fa-hourglass-start" aria-hidden="true"></i> ZooPhy Job is Validating, may take up to 2 minutes...
    </div>
  </div>
  <div class="row">
    <div id="run-warning-alert" class="alert alert-warning col-md-10 col-md-offset-1 text-center" ng-show="!(!warning || runError)">
      <i class="fa fa-info-circle" aria-hidden="true"></i> {{warning}}
    </div>
  </div>
  <div class="row">
    <div id="run-success-alert" class="alert alert-success col-md-10 col-md-offset-1 text-center" ng-show="!(runError || warning || running || !success)">
      <i class="fa fa-check-circle" aria-hidden="true"></i> Successfully Started ZooPhy Job {{success}}
    </div>
  </div>
  <h2 class="row text-center">Run ZooPhy Job Settings</h2>
  <div class="row text-center">
    <h5 class="text-center">Selected Records: {{numSelected}}</h5>
    <div class="pushed-down">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6">
        <label for="jobEmail">Email:</label>
        <div>
          <input id="jobEmail" type="email" ng-model="jobEmail" placeholder="email@domain.com" class="form-control"></input>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label for="jobName">Job Name (optional):</label>
        <div class="">
          <input id="jobName" type="text" ng-model="jobName" placeholder="ex. Influenza B Asia 2011" class="form-control"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="pushed-down text-center">GLM Options</h3>
    <div id="glm-options" class="row text-center">
      <div class="col-xs-3 col-xs-offset-3">
        <label>Use Default GLM (US States ONLY)</label>
        <input type="button" class="btn btn-sm" ng-class="glmButtonClass" ng-click="toggleDefaultGLM();" value="Default Predictors"/>
      </div>
      <div class="col-xs-3">
        <label>Upload Custom Predictors <a href="https://github.com/djmagee5/BEAST_GLM#predictor-data-file-requirements" target="_new" class="help" data-toggle="tooltip" data-placement="top" title="Tab delimited (.tsv) text file in Batch Predictor format. Click for more info."> <i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
        <div ng-hide="customPredictors">
          <input type="button" class="btn btn-info btn-sm" ng-click="setPredictors();" value="Set Predictors" ng-disabled="useDefaultGLM || !filename"/>
          <label class="btn btn-default btn-file">Select File<input id="data-upload" type="file" onchange="angular.element(this).scope().uploadPredictors(this.files);" ng-disabled="useDefaultGLM"/></label>
          <br/>{{filename}}
        </div>
        <div ng-show="customPredictors">
          <h6 class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i> Predictors set from {{filename}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="pushed-down text-center">Advanced Parameters</h3>
    <div id="xml-options">
      <div class="col-sm-2 col-sm-offset-2">
        <label>Substition Model</label>
        <select class="form-control" ng-model="substitutionModel" ng-options="model as model for model in availableModels">
          <!-- handled by Angular -->
        </select>
      </div>
      <div class="col-sm-2">
        <label>Chain Length</label>
        <input type="number" class="form-control" ng-model="chainLength"></input>
      </div>
      <div class="col-sm-2">
        <label>Sample Rate</label>
        <input type="number" class="form-control" ng-model="subSampleRate"></input>
      </div>
      <div class="col-sm-2">
        <label>Tree Prior</label>
        <select class="form-control" ng-model="treePrior" ng-options="prior as prior for prior in availablePriors">
          <!-- handled by Angular -->
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 pushed-down">
    <input type="button" class="btn btn-primary pull-right" ng-click="runJob();" ng-disabled="!jobEmail || warning || running" value="Start ZooPhy"/>
  </div>
</div>
