<div ng-controller="runController" id="run-tab" class="container" ng-show="tab === 'run'">
  <div class="row">
    <div id="run-error-alert" class="alert alert-danger col-md-10 col-md-offset-1 text-center" ng-show="runError">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{runError}}
    </div>
  </div>
  <div class="row">
    <div id="run-validating-alert" class="alert alert-info col-md-10 col-md-offset-1 text-center" ng-show="running">
      <i class="fa fa-hourglass-start" aria-hidden="true"></i> ZooPhy Job is Validating, may take up to 2 minutes...
    </div>
  </div>
  <div class="row">
    <div id="run-warning-alert" class="alert alert-warning col-md-10 col-md-offset-1 text-center" ng-show="warning">
      <i class="fa fa-info-circle" aria-hidden="true"></i> {{warning}}
    </div>
  </div>
  <div class="row">
    <div id="run-success-alert" class="alert alert-success col-md-10 col-md-offset-1 text-center" ng-show="success">
      <i class="fa fa-check-circle" aria-hidden="true"></i> Successfully Started ZooPhy Job {{success}}
    </div>
  </div>
  <h2 class="row text-center">Run ZooPhy Job Settings</h2>
  <div class="row text-center">
    <h5 class="text-center">Selected Records: {{numSelected}}</h5>
    <div class="pushed-down">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6">
        <label for="jobEmail">Email:</label>
        <div class="">
          <input id="jobEmail" type="email" ng-model="jobEmail" placeholder="email@domain.com" class="form-control"></input>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label for="jobName">Job Name (optional):</label>
        <div class="">
          <input id="jobName" type="text" ng-model="jobName" placeholder="ex. Influenza B Asia 2011" class="form-control"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="pushed-down text-center">GLM Options</h3>
    <div id="glm-options" class="row text-center">
      <div class="col-xs-3 col-xs-offset-3">
        <label>Use Default GLM (US States ONLY)</label>
        <input ng-model="useDefaultGLM" type="checkbox"/>
      </div>
      <div class="col-xs-3">
        <label>Upload Custom Predictors</label>
        <p class="text-center"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Coming Soon!</p>
        <!-- TODO -->
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="pushed-down text-center">Advanced Parameters</h3>
    <div id="xml-options">
      <div class="col-sm-2 col-sm-offset-2">
        <label>Substition Model</label>
        <select class="form-control" ng-model="substitutionModel" ng-options="model as model for model in availableModels">
          <!-- handled by Angular -->
        </select>
      </div>
      <div class="col-sm-2">
        <label>Chain Length</label>
        <input type="number" class="form-control" ng-model="chainLength"></input>
      </div>
      <div class="col-sm-2">
        <label>Sample Rate</label>
        <input type="number" class="form-control" ng-model="subSampleRate"></input>
      </div>
      <div class="col-sm-2">
        <label>Tree Prior</label>
        <select class="form-control" ng-model="treePrior" ng-options="prior as prior for prior in availablePriors">
          <!-- handled by Angular -->
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 pushed-down">
    <button class="btn btn-primary pull-right" ng-click="runJob();" ng-disabled="running">Start ZooPhy</button>
  </div>

</div>
