<div ng-controller="runController" id="run-tab" class="container" ng-show="tab === 'run'">
  <h2 class="row text-center">Run ZooPhy Job Settings</h2>
  <div class="row col-sm-8 col-sm-offset-2">
    <h5>Selected Records: {{numSelected}}</h5>

  </div>

</div>
