<div ng-controller="runController" id="run-tab" class="container" ng-show="tab === 'run'">
  <div class="row">
    <div id="run-error-alert" class="alert alert-danger col-md-10 col-md-offset-1 text-center" ng-show="runError">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{runError}}
    </div>
  </div>
  <div class="row">
    <div id="run-validating-alert" class="alert alert-info col-md-10 col-md-offset-1 text-center" ng-show="running">
      <i class="fa fa-hourglass-start" aria-hidden="true"></i> ZooPhy Job is Validating, may take up to 2 minutes...
    </div>
  </div>
  <div class="row">
    <div id="run-warning-alert" class="alert alert-warning col-md-10 col-md-offset-1 text-center" ng-show="!(!warning || runError)">
      <i class="fa fa-info-circle" aria-hidden="true"></i> {{warning}}
    </div>
  </div>
  <div class="row">
    <div id="run-success-alert" class="alert alert-success col-md-10 col-md-offset-1 text-center" ng-show="!(runError || warning || running || !success)">
      <i class="fa fa-check-circle" aria-hidden="true"></i> {{success}}
    </div>
  </div>
  <div class="row">
      <div id="run-success-alert" class="alert alert-success col-md-10 col-md-offset-1 text-center" ng-show="successWithExclusion">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <Strong>Successfully Started the ZooPhy Job: {{currentJobName}}.</Strong> The following {{ExcludedRecordCount}} records were excluded from this job:
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">&nbsp;&nbsp;Expand</a><br>
        <a class="results-link"  ng-href="{{ExcludedRecordDownloadLink}}" download="ExcludedRecords.csv" target="_self"><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
        to view the detailed report
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
              <p id = "ExclusionList"></p>
          </div>
        </div>
    </div>
  </div>
  <h2 class="row text-center">Run ZooPhy Job Settings</h2>
  <div class="row text-center">
    <h5 class="text-center">Selected Records: {{numSelected}}</h5>
    <div class="pushed-down">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6">
        <label for="jobEmail">Email:
          <span class="help-info" data-toggle="tooltip" data-placement="top" title="Add upto 2 emails by separating them with a comma (',')"> 
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </span>
        </label>
        <div>
          <input id="jobEmail" type="text" ng-model="jobEmail" placeholder="email@domain.com" class="form-control"></input>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label for="jobName">Job Name:</label>
        <div class="">
          <input id="jobName" type="text" ng-model="jobName" placeholder="ex. Influenza B Asia 2011" class="form-control"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="row pushed-down collapse" id="advanced-options">
    <div class="row">
      <h3 class="pushed-down text-center">GLM Options</h3>
      <div id="glm-options" class="row text-center">
        <div class="col-xs-3 col-xs-offset-3">
          <label>Use Default GLM<span class="help" data-toggle="tooltip" data-placement="top" title="Evaluate support for pre-loaded predictors of virus spread including: sample size, distance, and population [Lemey P, 2014, PLoS Pathogen]"> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
          <input type="button" class="btn btn-sm" ng-class="glmButtonClass" ng-click="toggleDefaultGLM();" value="Default Predictors"/>
        </div>
        <div class="col-xs-3">
          <div ng-hide="customPredictors">
            <label ng-click="showHelp();">Upload Custom Predictors <span class="help" data-toggle="tooltip" data-placement="top" title="Tab delimited (.tsv) text file in Batch Predictor format. Click for more info."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <label ng-show="generating"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Generating Template</label>
            <input ng-hide="generating || downloadLink " type="button" ng-click="setupGLMTemplate();" class="btn btn-md btn-default" ng-disabled="useDefaultGLM || numSelected === 0" value="Generate Template"></input>
            <input ng-show="downloadLink" type="button" ng-click="downloadGLMTemplate();" class="btn btn-md btn-default" ng-disabled="useDefaultGLM" value="Download Predictors Template"></input>
            <label ng-show="downloadLink" class="btn btn-default btn-file">Upload Completed Template<input id="data-upload" type="file" onchange="angular.element(this).scope().uploadPredictors(this.files);this.value=null" ng-disabled="useDefaultGLM"/></label>
          </div>
          <div ng-show="customPredictors">
            <h6 class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i> Predictors set from {{filename}}</h6>
            <input type="button" ng-click="resetPredictorTemplate();" class="btn btn-md btn-default" ng-disabled="useDefaultGLM " value="Reset"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 class="pushed-down text-center">Advanced Parameters</h3>
      <div id="xml-options">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-2">
            <label>Substution Model<span class="help" data-toggle="tooltip" data-placement="top" title="An assumption regarding the nitrogenous bases’ proportions within the sequence and the types of base substitutions that may occur within DNA or RNA.
              HKY85: Allows for nitrogenous base frequencies to be unequal and distinguishes between transitions (A → ← G, C → ← T) and transversions (A → ← T, A → ← C, G → ← T, G → ← C).
              GTR: Allows for nitrogenous base frequencies to be unequal and distinguishes between all types of transitions (A → ← G, C → ← T) and transversions (A → ← T, A → ← C, G → ← T, G → ← C)."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <select class="form-control" ng-model="substitutionModel" ng-options="model as model for model in availableSubstitutionModels">
              <!-- handled by Angular -->
            </select>
          </div>
          <div class="col-sm-2">
            <label>Site Heterogeneity<span class="help" data-toggle="tooltip" data-placement="top" title="The distribution of substitutions over a genome, resulting from the application of positive and negative selection pressures upon certain sites."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <div>
              <label class="gamma-label">&nbsp Gamma <input ng-model="gamma" type="checkbox"></input> &nbsp <span class="help" data-toggle="tooltip" data-placement="top" title="Gamma: Assumes that sites along the genome mutate at different rates."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label> 
            </div>
            <div>
              <label class="invSites-label">&nbsp Invariant <input ng-model="invariantSites" type="checkbox"></input> &nbsp <span class="help" data-toggle="tooltip" data-placement="top" title="Invariant: Assumes that a certain proportion of sites along the genome are immutable, as mutations here would be deleterious or fatal, and assumes that the remainder of sites mutate at equal non zero rates."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            </div>
          </div>
          <div class="col-sm-2">
            <label>Clock Model<span class="help" data-toggle="tooltip" data-placement="top" title="An assumption regarding the mutation rate, and by extension evolutionary rate, between the sequences of interest.
              Strict: Assumes that the mutations over time across all branches is linear.
              Relaxed: Assumes that the mutations over time for each branch are variable, and as such are sampled from a probability density distribution."> 
              <i class="fa fa-question-circle" aria-hidden="true"></i></span>
            </label>
            <select class="form-control" ng-model="clockModel" ng-options="model as model for model in availableClockModels">
            </select>
          </div>
          <div class="col-sm-2">
            <label>Tree Prior<span class="help" data-toggle="tooltip" data-placement="top" title="An assumption regarding the temporal growth of viral population.
              Constant: Viral population remains constant over time.
              Skyline: Estimates genetic diversity, which is loosely proportional to population size, as increased genetic diversity is thought to be a byproduct of increased population size and decreased genetic diversity is thought to be a byproduct of decreased population size.
              Skygrid: Assumes population size changes smoothly over time, places a smooth Gaussian process prior on the population sizes, and allowing events based on multiple loci."> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <select class="form-control" ng-model="treePrior" ng-options="prior as prior for prior in availablePriors">
            </select>
          </div>
        </div>
        <div class="row top10">
          <div class="col-sm-2 col-sm-offset-2">
            <label>Chain Length<span class="help" data-toggle="tooltip" data-placement="top" title="The frequency with which the parameters sampled by the Markov Chain Monte Carlo (MCMC) are printed to the screen. The Chain length can vary between 10000000 - 250000000"  > <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <input type="number" class="form-control " ng-model="chainLength"></input>
          </div>
          <div class="col-sm-2">
            <label>Sample Rate<span class="help" data-toggle="tooltip" data-placement="top" title="The frequency with which the parameters sampled by the Markov Chain Monte Carlo (MCMC) are logged.
              Note: The ideal chain length to sample rate ratio is 1000:1. The Sample Rate can vary between 1000 - 25000"> <i class="fa fa-question-circle" aria-hidden="true"></i></span></label>
            <input type="number" class="form-control" ng-model="subSampleRate"></input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pushed-down btn-toolbar">
    <div class="col-sm-4 col-md-offset-4">
      <div class="g-recaptcha" data-sitekey="6Lfv3aAUAAAAABAUY1xwRjHJhFlHCF7lCjA7t0tN" data-expired-callback="recaptchaExpired"></div>
    </div>
  </div>
  <div class="row pushed-down btn-toolbar">
  <div class="col-sm-6">
      <button class="btn btn-warning pull-left" ng-click="reset();"><i class="fa fa-times" aria-hidden="true"></i> Reset</button>  
  </div>
  <div class="col-sm-6 pull-right">
      <div class="col-sm-4 col-md-offset-4" >
          <label data-toggle="collapse" class="btn btn-default" data-target="#advanced-options"><i class="fa fa-sliders" aria-hidden="true"></i> Advanced Options</label>
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary " ng-click="verifyCaptcha();" ng-disabled="!jobEmail || warning || running" value="Start ZooPhy"/>
        </div>
      </div>
  </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
