body {
  background-color: #fcfcfc;
  color: #263238;
  padding-top: 70px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

#model-container{
  padding-right: 15px;
  padding-left: 15px;
}

.title {
  display: inline-block;
}

a, a:hover, a:active, a:visited {
  color: rgb(46, 154, 254);
  text-decoration: none !important;
}

label {
  display: block;
}

.date-select {
    max-width: 8rem;
}

.pushed-down {
  margin-top: 2rem;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.detail-panel-padding {
  padding: 3px !important;
  margin: 0 !important;
}

@media(min-width:767px) {
  /* Small and Up */
  #main-logo {
    height: 5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.main-navbar{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
  background-color: #FFFFFF
}

@media(max-width:767px) {
  /* XS Only */
  #main-logo {
      height: 7rem;
      margin-left: 4rem;
  }
}

#results-table {
  margin-bottom: 0px;
}

#results-table-col {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selected {
  background-color: #d9edf7 !important;
}

.pdmo9-label {
  display: inline;
}

.results-link {
  margin-left: 3rem;
}

#data-upload {
  display: none;
}

.help {
  cursor: pointer; 
  cursor: hand;
  color: rgb(38, 50, 56) !important;
}

.help-info {
   cursor: help;
}

.sampleBox {
  display: inline;
  max-width: 7.5rem;
  min-width: 5rem;
}

h6{
  padding-bottom: 6px;
  margin: 0px;
}

.heatmap {
  width:100%;
}

.geolocmap {
  margin-left: 0rem;
  margin-right: 0rem;
}

#results-panel {
  font-size: 1.2rem;
  float: left;
  width: 65%;
  padding-left: 0px;
  padding-right: 0px;
}

#detail-panel {
  width: 35%;
  padding-left: 10px;
  padding-right: 0px;
  float:right;
}

#detailed-view {
  font-size: 1.25rem;
  padding: 10px;
}

.borderless {
    border: none;
}

#info {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: black;
}
.tooltip-inner {
  border: 2px solid black;
}

.checkboxcl {
  margin: 1px 0px 0px 0px !important;
}

.top10 { 
  margin-top:10px;
}

#buttons-layer {
  padding-right: 8px;
}

#nav-toolbar{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  min-height:20px !important;
  margin-bottom: 0px;
}

#toolbar-button{
  padding: 3px 20px;
  background-color: Transparent;
  outline:none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-form{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px ;
  width: 20%
}

#nav-searchbar{
  height: 26px;
}

#nav-button{
  font-size: 13px;
  padding: 3px 5px;
}

.input-group-addon{
  padding: 0px 10px;
}

.modelview-header{
  background-color: #5d6d79;
  color: azure
}

.aboutpage-body{
  background-color:#F6F7FA; 
  font-family: Helvetica, sans-serif ;
  color: #5c6572
}
.aboutpage-container{
  background-color:#FFFFFF; 
  padding:10px; 
  margin-bottom:10px;
}

.aboutpage-header{
  font-family: "Open Sans";
  text-align:center;
  color: #595e70
}

.aboutpage-row{
  margin-left: 10px; 
  margin-right: 10px
}

.aboutpage-answer{
  color: #676d75;
  margin-left: 15px
}

.aboutpage-sidebar-divider{
  width: 100%; 
  color: 7a7a7a; 
  height: 1px; 
  background-color:7a7a7a; 
  margin: 1px
}

.aboutpage-sidebar{
  color:grey; 
  font-size: medium; 
  background-color: white; 
  padding: 10px; 
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06); 
  position: fixed;
}

.aboutpage-body > div > a{
  color: #595e70;
  background-color: white
}

.aboutpage-body > div > a:hover{
  color: #37393d;
  background-color: white;
  margin-left: 10px
}

/* To prevent header from overlaying with navbar on anchor link in about.js*/
h2::before { 
  display: block; 
  content: " "; 
  margin-top: -95px; 
  height: 95px; 
  visibility: hidden; 
  pointer-events: none;
}